# Default owners
* @microsoft/dynamics-365-business-central

# AL-Go files and build scripts are owned by Engineering Systems
.AL-Go/ @microsoft/d365-bc-engineering-systems
*.ps1 @microsoft/d365-bc-engineering-systems
/.azuredevops @microsoft/d365-bc-engineering-systems
/.github @microsoft/d365-bc-engineering-systems
/Build @microsoft/d365-bc-engineering-systems
/CODEOWNERS @microsoft/d365-bc-engineering-systems

/Apps/W1/EDocument @Groenbech96 @WaelAbuSeada @aholstrup1
/Apps/W1/EDocumentsConnector @Groenbech96 @WaelAbuSeada @aholstrup1
