# AL-Go files and build scripts are owned by Engineering Systems
.AL-Go/ @microsoft/dynamics-smb-engineering-systems
*.ps1 @microsoft/dynamics-smb-engineering-systems
/.azuredevops @microsoft/dynamics-smb-engineering-systems
/.github @microsoft/dynamics-smb-engineering-systems
/Build @microsoft/dynamics-smb-engineering-systems
/CODEOWNERS @microsoft/dynamics-smb-engineering-systems
