<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Declare custom configuration sections here-->
  <configSections>
    <section name="packet" type="MockService.MockServiceConfig, MockService"/>
  </configSections>
  <!--End declaration of custom configuration sections-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="Server Name" value="localhost"/>
    <add key="Port" value="8080"/>
    <add key="Max Connections" value="10"/>
    
    <!-- How many microseconds we should wait for new data to arrive 
         before assuming the client has finished sending their request. -->
    <add key="New Incoming Data Timeout" value="5000"/>
  </appSettings>

  <!--Beginning of custom data section of the app config file-->
  <!--
  Anything contained in the <packet> section relates to how we read packets, in particular
  - Compare containts the string that the program will parse any request for
  - If the "compare" string is found the contents of the file location designated in "response" will be sent exactly
  - A key value of "Exit" is a particular packet the program will look for to exit gracefully, a response file is optional
    but if one is found it will be sent to the client before program exit
  -->
  <packet>
	  
	<!-- E-Document - Logiq Connector -->
  <parse key="Packet469" compare="/logiq/auth" response="EDocument\Logiq\AccessToken.txt" />
  <parse key="Packet470" compare="/logiq/2.0/transfer/200" response="EDocument\Logiq\DocumentSent.txt" />
  <parse key="Packet471" compare="/logiq/2.0/transfer-status/externalId/received" response="EDocument\Logiq\DocumentStatusReceived.txt" />
  <parse key="Packet472" compare="/logiq/2.0/transfer-status/externalId/distributed" response="EDocument\Logiq\DocumentStatusDistributed.txt" />
  <parse key="Packet473" compare="/logiq/2.0/transfer-status/externalId/failed" response="EDocument\Logiq\DocumentStatusFailed.txt" />
  <parse key="Packet474" compare="/logiq/1.0/listfiles/multiple" response="EDocument\Logiq\MultipleDocumentsResponse.txt" />
  <parse key="Packet475" compare="/logiq/1.0/getfile/testfile1" response="EDocument\Logiq\testfile1.xml" />
  <parse key="Packet476" compare="/logiq/1.0/getfile/testfile2" response="EDocument\Logiq\testfile2.xml" />
  <parse key="Packet477" compare="/logiq/1.0/listfiles/one" response="EDocument\Logiq\OneDocumentResponse.txt" />
  <parse key="Packet478" compare="/logiq/2.0/transfer/500" response="EDocument\Logiq\ServerError.txt" />

    <parse key="Exit" compare="[**EXIT**]" response="Exit Response Example.txt"/>
  </packet>
  <!--End custom data-->
</configuration>