<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Beginning of custom data section of the app config file-->
  <!--
  Anything contained in the <packet> section relates to how we read packets, in particular
  - Compare containts the string that the program will parse any request for
  - If the "compare" string is found the contents of the file location designated in "response" will be sent exactly
  - A key value of "Exit" is a particular packet the program will look for to exit gracefully, a response file is optional
    but if one is found it will be sent to the client before program exit
  -->
  <packet>
    <!-- paymentExportBank -->
    <parse key="Packet1" compare="MISSINGENCODING" response="AMC Bank Payment Export Response With Missing Encoding.txt"/> <!-- done -->
    <parse key="Packet2" compare="BLANKENCODING" response="AMC Bank Payment Export Response With Blank Encoding.txt"/> <!-- done -->
    <parse key="Packet4" compare="CORRECTENCODING" response="AMC Bank Payment Export Response With Encoding.txt"/> <!-- done -->
    <parse key="Packet6" compare="WRONGBANKACCNO" response="AMC Bank Payment Export Error Response.txt"/> <!-- done -->
	<parse key="Packet12" compare="InvalidCredentials" response="AMC Bank Payment Invalid Credentials.txt" /> <!-- done -->
	<parse key="Packet18" compare="Decoding" response="AMC Bank Payment Base64 Decoding.txt"/> <!-- done -->	
    <parse key="Packet61" compare="WRONGBANKNAME" response="AMC Bank Payment Export Syslog Response.txt"/> <!-- done -->
    <parse key="Packet62" compare="CORRECTFILEEXPORT" response="AMC Bank Payment Export File Response.txt"/> <!-- done -->
	<parse key="Packet??" compare="CredentialsUpdated" response="AMC Bank Payment Credentials updated.txt" /> <!-- done -->
		
	<!-- bankList -->
    <parse key="Packet79" compare="&lt;filterbycountry xmlns=&quot;&quot;&gt;XX&lt;/filterbycountry&gt;" response="AMC Bank BankList Country Code Error Response.txt" /> <!-- done -->
    <parse key="Packet7" compare="bankList" response="AMC Bank BankList Response Example.txt"/> <!-- done -->

	<!-- reportExport -->
    <!-- Nordea UTF8 / Nordea ISO1252 -->
    <parse key="Packet9" compare="Ik5ERUFES0tLWFhYIiwiMjk5OSIsIjk5OTk5NDA1NjAiLCJES0siLCJEZW1vIFVzZXIiLCIiLCIy" response="AMC Bank Stmt Nordea Response.txt"/> <!-- done -->
    <!-- RandomText -->
    <parse key="Packet11" compare="UmFuZG9tVGV4dAA=" response="AMC Bank Stmt Random Text File Response.txt"/> <!-- done -->
    <!-- StmtMissingFinsta -->
    <parse key="Packet17" compare="U3RtdE1pc3NpbmdGaW5zdGE=" response="AMC Bank Stmt Missing Finsta Element.txt"/> <!-- done -->
    <!-- base64 Encoding -->
    <parse key="Packet19" compare="Ik5ERUFES0tLWFhYIiwiMTg4OCIsIjk5OTk5NDA1NjAiLCJES0siLCJFbmNvZGluZyIsIiIsIjIw" response="AMC Bank Stmt Base64 Encoding.txt"/> <!-- done -->
    <!-- '' -->
    <parse key="Packet300" compare="AA==" response="AMC Bank Stmt Empty File Response.txt"/> <!-- done -->
	<!-- Credentials updated -->
	<parse key="Packet??" compare="Q3JlZGVudGlhbHNVcGRhdGVk" response="AMC Bank Stmt Credentials updated.txt"/> <!-- done -->

	<!-- dataExchange -->
	<parse key="Packet??" compare="dataExchange" response="AMC Bank Data Exchange Response.txt"/> <!-- done -->


  </packet>
  <!--End custom data-->
</configuration>