name: ' Update AL-Go System Files'

on:
  workflow_dispatch:
    inputs:
      templateUrl:
        description: Template Repository URL (current is https://github.com/microsoft/AL-Go-PTE@preview)
        required: false
        default: ''
      downloadLatest:
        description: Download latest from template repository
        type: boolean
        default: true
      directCommit:
        description: Direct Commit?
        type: boolean
        default: false
      includeBranches:
        description: Specify a comma-separated list of branches to update. Wildcards are supported. The AL-Go settings will be read for every branch. Leave empty to update the current branch only.
        required: false
        default: ''
  workflow_call:
    inputs:
      templateUrl:
        description: Template Repository URL (current is https://github.com/microsoft/AL-Go-PTE@preview)
        type: string
        required: false
        default: ''
      downloadLatest:
        description: Download latest from template repository
        type: boolean
        default: true
      directCommit:
        description: Direct Commit?
        type: boolean
        default: false
      includeBranches:
        description: Specify a comma-separated list of branches to update. Wildcards are supported. The AL-Go settings will be read for every branch. Leave empty to update the current branch only.
        type: string
        required: false
        default: ''

permissions:
  actions: read
  contents: read
  id-token: write

defaults:
  run:
    shell: powershell

env:
  ALGoOrgSettings: ${{ vars.ALGoOrgSettings }}
  ALGoRepoSettings: ${{ vars.ALGoRepoSettings }}

jobs:
  Initialize:
    runs-on: windows-latest
    name: Initialize
    outputs:
      UpdateBranches: ${{ steps.GetBranches.outputs.Result }}
      TemplateUrl: ${{ steps.DetermineTemplateUrl.outputs.TemplateUrl }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Read settings
        id: ReadSettings
        uses: microsoft/AL-Go/Actions/ReadSettings@0c7b1de38ba518aaf5fdee3902c2d2ae886ede32
        with:
          shell: powershell
          get: templateUrl

      - name: Get Workflow Multi-Run Branches
        id: GetBranches
        uses: microsoft/AL-Go/Actions/GetWorkflowMultiRunBranches@0c7b1de38ba518aaf5fdee3902c2d2ae886ede32
        with:
          shell: powershell
          includeBranches: ${{ github.event.inputs.includeBranches }}

      - name: Determine Template URL
        id: DetermineTemplateUrl
        env:
          TemplateUrlAsInput: '${{ github.event.inputs.templateUrl }}'
        run: |
            $templateUrl = $env:templateUrl # Available from ReadSettings step
            if ($ENV:TemplateUrlAsInput) {
              # Use the input value if it is provided
              $templateUrl = $ENV:TemplateUrlAsInput
            }
            Write-Host "Using template URL: $templateUrl"
            Add-Content -Encoding UTF8 -Path $env:GITHUB_OUTPUT -Value "TemplateUrl=$templateUrl"

  UpdateALGoSystemFiles:
    name: "[${{ matrix.branch }}] Update AL-Go System Files"
    environment: Official-Build
    needs: [ Initialize ]
    runs-on: windows-latest
    strategy:
      matrix:
        branch: ${{ fromJson(needs.Initialize.outputs.UpdateBranches).branches }}
      fail-fast: false

    steps:
      - name: Dump Workflow Information
        uses: microsoft/AL-Go/Actions/DumpWorkflowInfo@0c7b1de38ba518aaf5fdee3902c2d2ae886ede32
        with:
          shell: powershell

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ matrix.branch }}

      - name: Initialize the workflow
        id: init
        uses: microsoft/AL-Go/Actions/WorkflowInitialize@0c7b1de38ba518aaf5fdee3902c2d2ae886ede32
        with:
          shell: powershell

      - name: Read settings
        uses: microsoft/AL-Go/Actions/ReadSettings@0c7b1de38ba518aaf5fdee3902c2d2ae886ede32
        with:
          shell: powershell
          get: commitOptions

      - name: Read secrets
        id: ReadSecrets
        uses: microsoft/AL-Go/Actions/ReadSecrets@0c7b1de38ba518aaf5fdee3902c2d2ae886ede32
        with:
          shell: powershell
          gitHubSecrets: ${{ toJson(secrets) }}
          getSecrets: 'ghTokenWorkflow'

      - name: Calculate Commit Options
        env:
          directCommit: '${{ github.event.inputs.directCommit }}'
          downloadLatest: '${{ github.event.inputs.downloadLatest }}'
        run: |
          $errorActionPreference = "Stop"; $ProgressPreference = "SilentlyContinue"; Set-StrictMode -Version 2.0
          if('${{ github.event_name }}' -in 'workflow_dispatch', 'workflow_call') {
            Write-Host "Using inputs from ${{ github.event_name }} event"
            $directCommit = $env:directCommit
            $downloadLatest = $env:downloadLatest
          }
          else {
            Write-Host "Using inputs from commitOptions setting"
            $commitOptions = $env:commitOptions | ConvertFrom-Json # Available from ReadSettings step
            $directCommit=$(-not $commitOptions.createPullRequest)
            $downloadLatest=$true
          }
          Add-Content -Encoding UTF8 -Path $env:GITHUB_ENV -Value "directCommit=$directCommit"
          Add-Content -Encoding UTF8 -Path $env:GITHUB_ENV -Value "downloadLatest=$downloadLatest"

      - name: Update AL-Go system files
        uses: microsoft/AL-Go/Actions/CheckForUpdates@0c7b1de38ba518aaf5fdee3902c2d2ae886ede32
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          shell: powershell
          token: ${{ fromJson(steps.ReadSecrets.outputs.Secrets).ghTokenWorkflow }}
          downloadLatest: ${{ env.downloadLatest }}
          update: 'Y'
          templateUrl: ${{ needs.Initialize.outputs.TemplateUrl }}
          directCommit: ${{ env.directCommit }}
          updateBranch: ${{ matrix.branch }}

      - name: Finalize the workflow
        if: always()
        uses: microsoft/AL-Go/Actions/WorkflowPostProcess@0c7b1de38ba518aaf5fdee3902c2d2ae886ede32
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          shell: powershell
          telemetryScopeJson: ${{ steps.init.outputs.telemetryScopeJson }}
          currentJobContext: ${{ toJson(job) }}
